/*
slideDown
*/

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	60%{
		transform: translateY(6%);
	}
	90%{
		transform: translateY(-2%);
	}
	100%{
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	60%{
		-webkit-transform: translateY(6%);
	}
	90%{
		-webkit-transform: translateY(-2%);
	}
	100%{
		-webkit-transform: translateY(0%);
	}
}
