html {
  font-family:'Lato', sans-serif;
}
body {
  margin: 0;
}
h1, h2 {
  font-family: 'Roboto Slab', serif;
}
h2 {
  font-weight: lighter;
}

/*
COLORS
857786
A699AD
D1CFD4
CCD9E2
6688AB
264D6E
1E2D4E
010225
*/

/*
MEDIA QUERIES
480
768
992
1200
*/


/*  === NAVBAR ===  */

.navbar-fixed {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  width: 100%;
}

/* Navigation on Desktop */
.navigation {
  font-size:17pt;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 0.4em;
  color:#CCD9E2;
  font-weight:300;
  text-decoration:none;
}

.navigation a:hover {
  text-shadow: 0px 0px 8px rgba(255,255,255,0.9);
}

/* Navbar on Mobile */
.take-width {
  width:100%;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-left: auto;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #264D6E;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.pull-right {
  float: right !important;
}

/*  === HOME === */

#particles {
  overflow:hidden;
  background: #1D2D4C;
  background: -webkit-linear-gradient(165deg, #1D2D4C 10%, #A699AD);
  background: linear-gradient(165deg, #1D2D4C 10%, #A699AD);
  width:100%;
  height:100vh;
}

a {
  text-decoration: none;
}

.container-main {
  display: table;
  height: calc(100vh - 70px);
  margin-top: 70px;
  position: absolute;
  right: 0;
  left: 0;
}

.home-main {
  display:table-cell;
  vertical-align:middle
}

.home-header {
  margin-bottom:.3rem
}

.home-name {
  margin-bottom:1.4rem;
  color:#fff;
  font-size:42pt;
  font-weight:300
}

.home-subtitle {
  color:#f2f2f2;
  font-size:18pt;
  font-weight:300;
  font-style:italic
}

.home-button {
  padding-top: 30px;
}

@media only screen and (max-device-width: 992px) {
  .home-name {
    font-size:30pt
  }

  .home-subtitle {
    font-size:14pt
  }
}


/* Down Arrow */
#click-to-scroll {
  opacity: 0.6;
  fill: #f2f2f2;
  width: 24px;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%)
}

/* Button Home */
.button-home {
  color: white;
  padding: 10px 19px;
  border-radius: 4px;
  background: #6688AB;
  transition: background 0.3s ease;
  text-decoration: none;
}

.button-home:hover {
  background: #264D6E;
}


/*  === ABOUT ===  */

#about {
  background: #D1CFD4;
  height: 100%;
  overflow:hidden;
  min-height: 50vh;
  padding-bottom: 40px;
}


/*  === RESUME ===  */

#resume {
  background: #CCD9E2;
  overflow:hidden;
  min-height: 50vh;
  padding-bottom: 40px;
}

@media only screen and (min-width: 992px) {
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 2;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }
}


/*  === WORK ===  */
/*
#work {
  background: #D1CFD4;
  overflow:hidden;
  min-height: 50vh;
  padding-bottom: 40px;
}
*/

/*  === CONTACT ===  */

#contact {
  background: #A699AD;
  overflow:hidden;
  min-height: 50vh;
  padding-bottom: 40px;
}

/* Form label */
#contact label {
  display: block;
  padding-bottom: 5px;
}

/* Button Contact */
.button-contact {
  font-family:'Lato', sans-serif;
  font-size: 14px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #6688AB;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
}

.button-contact:hover {
  background: #264D6E;
  cursor: pointer;
}

/* Link to Mail */
#contact a {
  color: #264D6E;
}

/* Input Fields */
#contact .input-width {
  font-family:'Lato', sans-serif;
  resize: none;
}


/*  === FOOTER ===  */

#footer{
  background: #1E2D4E;
  overflow:hidden;
  color: #CCD9E2;
}
