html {
  font-family:'Lato', sans-serif;
}
body {
  margin: 0;
  overscroll-behavior: none;
  color: #44525B;
}
h1, h2 {
  font-family: 'Roboto Slab', serif;
}
h2 {
  font-weight: lighter;
}
a {
  color: #e6d81a;
  text-decoration: none;
}
a:hover {
  /* color: #365288; */
  text-decoration: underline;
}
.fa:hover {
  text-decoration: none;
}


/*
COLORS
1D2D4C / Dark Blue
6688AB / Light Blue
*/

/*
MEDIA QUERIES
480
768
992
1200
*/

/*  === HOME === */

#particles {
  overflow:hidden;
  background: #1D2D4C;
  background: -webkit-linear-gradient(165deg, #1D2D4C 10%, #A699AD);
  background: linear-gradient(165deg, #1D2D4C 10%, #A699AD);
  width:100%;
  height:100vh;
}

.container-main {
  display: table;
  height: calc(100vh - 70px);
  position: absolute;
  right: 0;
  left: 0;
  width: 80%;
  margin: 70px auto 0 auto;
}

.home-main {
  display:table-cell;
  vertical-align:middle
}

.home-header {
  margin-bottom:.3rem;
}

.home-name {
  margin-bottom:1.4rem;
  color:#fff;
  font-size:42pt;
  font-weight:300
}

.home-subtitle {
  color:#f2f2f2;
  font-size:18pt;
  font-weight:300;
  font-style:italic;
}

.home-quote {
  color:#bbb;
  margin-top:14px;
}

@media only screen and (max-device-width: 992px) {
  .home-name {
    font-size:30pt
  }

  .home-subtitle {
    font-size:14pt
  }
}
