html {
  font-family:'Open Sans', sans-serif;
}
body {
  margin: 0;
}

#particles {
  overflow:hidden;
  background: #4b6cb7;
  background: -webkit-linear-gradient(165deg, #0F1E54 10%, #C89A77);
  background: linear-gradient(165deg, #0F1E54 10%, #C89A77);
  width:100%;
  height:100vh;
}

a {
  text-decoration: none;
}

.container {
  position:absolute;
  display:table;
  height: calc(100vh - 70px);
  width: 80%;
  margin: 70px 10% 0 10%;
  overflow:hidden;
}

.home-main {
  display:table-cell;
  vertical-align:middle
}

.home-header {
  margin-bottom:.3rem
}

.home-name {
  margin-bottom:.2rem;
  color:#fff;
  font-size:38pt;
  font-weight:300
}

.home-subtitle {
  color:#f2f2f2;
  font-size:18pt;
  font-weight:300;
  font-style:italic
}

.home-button {
  padding-top: 40px;
}

@media only screen and (max-device-width: 640px) {
  .home-name {
    font-size:30pt
  }

  .home-subtitle {
    font-size:14pt
  }

}

@media only screen and (max-device-width: 1080px) and (-webkit-device-pixel-ratio: 3) {
  .home-name {
    font-size:30pt
  }

  .home-subtitle {
    font-size:14pt
  }

}


/*  Arrow Down  */

#click-to-scroll {
  opacity: 0.6;
  fill: #f2f2f2;
  width: 24px;
  height: auto;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%)
}


/*  Buttons Homepage  */

.button-home {
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.button-home:hover {
  opacity: 1;
  text-decoration: none;
  color: #f2f2f2;
}


/*  Pages  */

#about {
  overflow:hidden;
  background: #EDEEEF;
  width:100%;
  height:calc(100vh - 70px);
}

#contact {
  overflow:hidden;
  background: #C0C3C6;
  width:100%;
  height:calc(100vh - 70px);
}

#projects {
  overflow:hidden;
  background: #EDEEEF;
  width:100%;
  height:calc(100vh - 70px);
}

#resume {
  background: #C0C3C6;
  width:100%;
  height:calc(100vh - 70px);
}

.container-sections {
  position:absolute;
  display:table;
  width: 80%;
  margin: 0 10%;
  overflow:hidden;
}


/*  Navbar  */

.navbar-fixed {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.navbar-container {
  width: 80%;
  margin: 0 10%;
  overflow:hidden;
}

.navbar-nav {
  font-size:17pt;
  margin-left: auto;
}

.navbar-nav td {
  padding-top:0px;
  padding-left:0px;
  padding-bottom:0px
}

.navbar-nav td.navbar-nav-primary {
  padding-right:2rem
}

.navbar-nav-primary a {
  color:#b3d8ff;
  font-weight:300;
  text-decoration:none;
}

.navbar-nav-primary a:hover {
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}


.navbar-nav-primary span:after {
  content:' /';
  color:#999
}

.navbar-nav-primary span:last-of-type:after {
  content:''
}

@media only screen and (max-device-width: 640px) {
  .navbar-nav {
    font-size:12pt
  }
}

@media only screen and (max-device-width: 1080px) and (-webkit-device-pixel-ratio: 3) {
  .navbar-nav {
    font-size:13pt
  }
}

